### Java ###
*.class
*.jar
*.war
*.ear
bin/
build/
out/
target/

### Eclipse ###
.metadata/
.settings/
.project
.classpath
*.launch
.factorypath

### PostgreSQL ###
*.sql
/db/
/database/
!/src/main/resources/schema.sql

### Logs ###
*.log
logs/

### System ###
.DS_Store
Thumbs.db

### Configuration files ###
/src/main/resources/hibernate.properties
!/src/main/resources/hibernate.properties.example

### Thymeleaf cache ###
/src/main/resources/templates/cache/