### General ###
.DS_Store
Thumbs.db

### Java ###
*.class
*.jar
*.war
*.ear
*.iws
*.iml
*.ipr
bin/
build/
out/
target/
!**/src/main/**/target/
!**/src/test/**/target/

### IDEs ###
# IntelliJ
.idea/
*.iml

# Eclipse
.metadata/
.settings/
.project
.classpath
*.launch
.factorypath

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# STS
.apt_generated
.springBeans
.sts4-cache

### Logs ###
*.log
logs/

### Databases ###
/db/
/database/
*.sql
!**/src/main/resources/table_config.sql


### Spring Boot ###
/src/main/resources/application.properties  
!/src/main/resources/application.properties.example

### Hibernate/Thymeleaf ###
/src/main/resources/templates/cache/